<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="tr">
<head>
    <title>URL Shortener</title>
    <th:block th:insert="template :: meta"/>
    <th:block th:insert="template :: style"/>
</head>
<body>

<th:block th:insert="template :: menu ('/')"/>

<div class="container">

    <div th:if="${newUrl ne null and newUrl}" class="card mt-5">
        <div class="card-header text-center">
            <h4 class="card-title mb-4">Tebriler : </h4>
            <h6 class="card-subtitle">Artık Daha Kısa Bir Linkiniz Var</h6>
        </div>

        <div th:with="url=${shortUrl}" class="card-body text-center">
            <h2 th:text="${url}" class="display-5 fill-width"></h2>
            <p class="text-center mt-2 mb-5">
                Hemen
                <button th:attr="data-clipboard-text=${url}" id="btnCopy" class="btn btn-outline-secondary mx-2"
                        type="button">
                    Kopyalayın
                </button>
                Ve İstediğiniz Yerde Paylaşın
                <span class="ml-5"></span>
                Kısalttığız Url Adresine Gitmek İçin
                <a th:href="${url}" class="btn btn-link">Tıklayınız</a>
            </p>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header text-center">
            <h4 th:text="${(newUrl ne null and newUrl ? 'Başka Bir ' : '') + 'Link Kısaltın'}"
                class="card-title mb-1"></h4>
        </div>

        <form method="post" action="/shorten" class="card-body text-center">
            <div class="form-group">
                <label>Kısaltmak İstediğiniz Url Adresini Giriniz : </label>
                <input class="form-control" id="longUrl" name="longUrl" required="required" type="url"
                       placeholder="Kısaltmak İstediğiniz Linki Yazınız">
                <small th:if="${longUrlError ne null}" th:text="${longUrlError}" class="form-text text-danger"></small>
            </div>
            <button class="btn btn-outline-success" type="submit">Hemen Kısaltın</button>
        </form>
    </div>
</div>
<th:block th:insert="template :: script"/>

<script th:if="${newUrl ne null and newUrl}"
        src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>

<script th:if="${newUrl ne null and newUrl}">
    $(function () {
        new ClipboardJS('#btnCopy');
    });
</script>
</body>
</html>